.dashboard-layout{
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 0 0 2rem 0;
}

body{
    background-color: var(--bg-color);
}

.main-dashboard-section .main-dashboard-inner{
    width:90vw;
    max-width:70rem;
    margin: auto;
}

/* containers with graph */
.main-dashboard-section .grouped-components{
    gap: 1.5rem;
    margin:2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.group-component .group-component-header{
    margin: 0 0 1rem 0;
}

.group-component .group-component-header,
.group-component .group-component-lower
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .5rem;
    flex-wrap: wrap;
    width:100%;
}

.group-component > h1{
    margin: .5rem 0;
}

.group-component-lower .trend-pill{
    display: flex;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 100rem;
}

.group-component-lower .trend-pill.good{
    color: #34CAA5;
    background: rgba(52, 202, 165, 0.12);
}

.group-component-lower .trend-pill.bad{
    color: #ED544E;
    background: rgba(237, 84, 78, 0.12);
}



@media screen and (min-width:1000px) {
    .dashboard-layout{
        display: grid;
        grid-template-columns: 6rem 1fr;
        padding: 0;
        max-width: 160rem;
        margin: auto;
    }

    .title-mobile{
        display:none;
    }

    .main-dashboard-section .main-dashboard-inner{
        display: grid;
        grid-template-columns: 58% 1fr;
        width: 96%;
        max-width: 100%;
        gap:1.5rem;
        padding: 2rem 0 0 0;
    }

    /* grouped */
    .main-dashboard-section .grouped-components{
        width:100%;
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
}