.dashboard-layout{
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 0 0 2rem 0;
}

body{
    background-color: var(--bg-color);
}

.main-dashboard-section .main-dashboard-inner{
    width:90vw;
    max-width:70rem;
    margin: auto;
}

@media screen and (min-width:1000px) {
    .dashboard-layout{
        display: grid;
        grid-template-columns: 6rem 1fr;
        padding: 0;
        max-width: 160rem;
        margin: auto;
    }

    .title-mobile{
        display:none;
    }

    .main-dashboard-section .main-dashboard-inner{
        display: grid;
        grid-template-columns: 58% 1fr;
        width: 96%;
        max-width: 100%;
        gap:1.5rem;
        padding: 2rem 0 0 0;
    }

   
}